.config/fish/conf.d/nix.fish
.config/fish/fish_variables
.config/polybar/headp-status
home-manager/flake.lock
.config/zsh/zsh-autosuggestions
.config/zsh/zsh-syntax-highlighting
.config/zsh/zsh_history
.config/zsh/.zshenv
.config/zsh/.zcompdump
.config/zsh/completions
